<section class="gscus max-w-screen-md mx-auto my-10">
  <script
    src="https://giscus.app/client.js"
    data-repo="CarberryChai/xiaochai-blog"
    data-repo-id="R_kgDOLnj9PQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOLnj9Pc4CeWUk"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async></script>
</section>
